.env 
.history/
.vscode/
.conda/
/output_data/
/reddit/
zed/
pushshift_working/
pushshift_2025_zst_unfiltered/
pushshift_25_json/
pushshift_22_24_json/
pushshift_22_24_zst/
praw_supplemental_corpus/
old_praw/
old_csv_output_data/
old_code/
08/
